<a href="https://colab.research.google.com/github/sai-sreekhar/SmartBridge_ML-DL/blob/main/AI_ML_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Create a pandas DataFrame with numpy random values**

In [31]:
import pandas as pd
import numpy as np

data = {
    'Feature1': np.random.rand(10),
    'Feature2': np.random.randint(1, 100, 10),
    'Feature3': np.random.choice(['A', 'B', 'C'], 10),
    'Feature4': np.random.choice([True, False], 10)
}

df = pd.DataFrame(data)

In [32]:
print(df)

   Feature1  Feature2 Feature3  Feature4
0  0.651474        78        B     False
1  0.452530        78        B      True
2  0.511765        86        A      True
3  0.013036        42        C     False
4  0.418783        97        B     False
5  0.743651        69        C     False
6  0.565992        67        B     False
7  0.593517        47        B     False
8  0.827852        35        A      True
9  0.555027        73        C      True

# **Renaming the DataFrame column names**

In [33]:
column_mapping = {
    'Feature1': 'Random Value 1',
    'Feature2': 'Random Value 2',
    'Feature3': 'Random Value 3',
    'Feature4': 'Random Value 4'
}

df.rename(columns=column_mapping, inplace=True)

In [34]:
print(df)

   Random Value 1  Random Value 2 Random Value 3  Random Value 4
0        0.651474              78              B           False
1        0.452530              78              B            True
2        0.511765              86              A            True
3        0.013036              42              C           False
4        0.418783              97              B           False
5        0.743651              69              C           False
6        0.565992              67              B           False
7        0.593517              47              B           False
8        0.827852              35              A            True
9        0.555027              73              C            True

# **Finding Descriptive Statistics of DataFrame**

In [35]:
print(df.describe())

       Random Value 1  Random Value 2
count       10.000000       10.000000
mean         0.533363       67.200000
std          0.221338       19.976653
min          0.013036       35.000000
25%          0.467339       52.000000
50%          0.560509       71.000000
75%          0.636985       78.000000
max          0.827852       97.000000

# **Finding Datatypes of Columns**

In [36]:
column_data_types = df.dtypes
print(column_data_types)

Random Value 1    float64
Random Value 2      int64
Random Value 3     object
Random Value 4       bool
dtype: object

# **Check for NULL Values**

In [37]:
null_positions = [(1, 'Random Value 1'), (3, 'Random Value 2'), (6, 'Random Value 3'), (8, 'Random Value 4'), (9, 'Random Value 3')]

for row, col in null_positions:
    df.at[row, col] = None

print(df)

   Random Value 1  Random Value 2 Random Value 3 Random Value 4
0        0.651474            78.0              B          False
1             NaN            78.0              B           True
2        0.511765            86.0              A           True
3        0.013036             NaN              C          False
4        0.418783            97.0              B          False
5        0.743651            69.0              C          False
6        0.565992            67.0           None          False
7        0.593517            47.0              B          False
8        0.827852            35.0              A            NaN
9        0.555027            73.0           None           True

In [38]:
null_values = df.isnull()
null_counts = df.isnull().sum()
has_null = df.isnull().any().any()
print("DataFrame with null values:")
print(df)
print("\nNull values (True indicates a null value):")
print(null_values)
print("\nNumber of null values in each column:")
print(null_counts)
print("\nAre there any null values in the DataFrame?")
print(has_null)

DataFrame with null values:
   Random Value 1  Random Value 2 Random Value 3 Random Value 4
0        0.651474            78.0              B          False
1             NaN            78.0              B           True
2        0.511765            86.0              A           True
3        0.013036             NaN              C          False
4        0.418783            97.0              B          False
5        0.743651            69.0              C          False
6        0.565992            67.0           None          False
7        0.593517            47.0              B          False
8        0.827852            35.0              A            NaN
9        0.555027            73.0           None           True

Null values (True indicates a null value):
   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1            True           False           False           False
2           False           False           False           False
3           False            True           False           False
4           False           False           False           False
5           False           False           False           False
6           False           False            True           False
7           False           False           False           False
8           False           False           False            True
9           False           False            True           False

Number of null values in each column:
Random Value 1    1
Random Value 2    1
Random Value 3    2
Random Value 4    1
dtype: int64

Are there any null values in the DataFrame?
True

In [39]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random Value 1  9 non-null      float64
 1   Random Value 2  9 non-null      float64
 2   Random Value 3  8 non-null      object
 3   Random Value 4  9 non-null      object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes
None

# **Displaying Random Value 2 and Random Value 3 Columns using location and index methods**

In [40]:
print("Using .loc[]:")
print(df.loc[:, ['Random Value 2', 'Random Value 3']])

print("\nUsing .iloc[]:")
print(df.iloc[:, [1, 2]])

Using .loc[]:
   Random Value 2 Random Value 3
0            78.0              B
1            78.0              B
2            86.0              A
3             NaN              C
4            97.0              B
5            69.0              C
6            67.0           None
7            47.0              B
8            35.0              A
9            73.0           None

Using .iloc[]:
   Random Value 2 Random Value 3
0            78.0              B
1            78.0              B
2            86.0              A
3             NaN              C
4            97.0              B
5            69.0              C
6            67.0           None
7            47.0              B
8            35.0              A
9            73.0           None